/** @format */

html,
body {
	/** 
El orden del css debe ir alfabeticamente 
*/
	color: white;
	background-color: #21232a;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 1.3rem;
	padding: 70px;
}

button {
	padding: 10px;
	font-size: 15px;
}
